<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      type="text/css"
      rel="stylesheet"
      href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" type="text/css" href="hexWork.css" />
    <title>第三周主線任務</title>
  </head>
  <body>
    <!-- <button id="get" class="btn btn-primary">Get</button> -->
    <div id="app">
      <!-- {{message}} -->
      <button class="btn btn-primary btn-lg" style="float: right;" @click="openModal('isAdd')">
        新增產品
      </button>
      <table class="table mt-4">
        <thead>
          <tr>
            <th>分類</th>
            <th>產品名稱</th>
            <th>原價</th>
            <th>售價</th>
            <th>啟用(Y/N)</th>
            <th>編輯</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item,key) in products" :key="item.id">
            <td>{{item.category}}</td>
            <td>{{item.title}}</td>
            <td>{{item.origin_price}}</td>
            <td>{{item.price}}</td>
            <td>
              <input type="checkbox" v-model="item.is_enabled" disabled />
              <span v-if="item.is_enabled">Y</span>
              <span v-else>N</span>
            </td>
            <td>
              <button
                class="btn btn-outline-primary btn-sm"
                @click="openModal('isEdit',item)"
              >
                編輯
              </button>
              <button
                class="btn btn-outline-danger btn-sm"
                @click="openModal('isDelete', item)"
              >
                刪除
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- Modal -->
      <div class="modal fade" id="productModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
          <div class="modal-content">
            <div class="modal-header bg-info">
              <h5 class="modal-title" id="exampleModalLabel">新增產品</h5>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="imageUrl">輸入圖片網址</label>
                    <input
                      id="imageUrl"
                      v-model="addProduct.imageUrl"
                      type="text"
                      class="form-control"
                      placeholder="請輸入圖片連結"
                    />
                  </div>
                  <img class="img-fluid" :src="addProduct.imageUrl" alt />
                </div>
                <div class="col-sm-8">
                  <div class="form-row">
                    <div class="form-group col-sm-12">
                      <label for="title">產品名稱</label>
                      <input
                        id="title"
                        v-model="addProduct.title"
                        type="text"
                        class="form-control"
                        placeholder="請輸入名稱"
                      />
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-sm-4">
                      <label for="category">分類</label>
                      <input
                        id="category"
                        v-model="addProduct.category"
                        type="text"
                        class="form-control"
                        placeholder="請輸入分類"
                      />
                    </div>

                    <div class="form-group col-sm-4">
                      <label for="unit">單位</label>
                      <input
                        id="unit"
                        v-model="addProduct.unit"
                        type="text"
                        class="form-control"
                        placeholder="請輸入分類"
                      />
                    </div>
                    <div class="form-group col-sm-4">
                      <label for="is_enabled">啟用(Y/N)</label>
                      <input
                        id="is_enabled"
                        v-model="addProduct.is_enabled"
                        type="checkbox"
                        class="form-control"
                        placeholder="是否啟用"
                      />
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="form-group col-sm-6">
                      <label for="origin_price">原價</label>
                      <input
                        id="origin_price"
                        v-model="addProduct.origin_price"
                        type="number"
                        class="form-control"
                        placeholder="請輸入原價"
                      />
                    </div>

                    <div class="form-group col-sm-6">
                      <label for="price">售價</label>
                      <input
                        id="price"
                        v-model="addProduct.price"
                        type="number"
                        class="form-control"
                        placeholder="請輸入售價"
                      />
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-sm-6">
                      <label for="description">產品描述</label>
                      <input
                        id="description"
                        v-model="addProduct.description"
                        type="text"
                        class="form-control"
                        placeholder="請輸入產品描述"
                      />
                    </div>

                    <div class="form-group col-sm-6">
                      <label for="content">產品內容</label>
                      <input
                        id="content"
                        v-model="addProduct.content"
                        type="text"
                        class="form-control"
                        placeholder="請輸入產品內容"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                取消
              </button>
              <button type="button" class="btn btn-primary" @click="toAddProduct(addProduct)">新增</button>
            </div>
          </div>
        </div>
      </div>
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <h5 class="modal-title" id="exampleModalLabel" >刪除產品</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <h4>確定刪除<strong>{{addProduct.title}}</strong>嗎?</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" @click="deleteProduct(addProduct)">確定</button>
      </div>
    </div>
  </div>
</div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="hexWork.js"></script>
  </body>
</html>
